@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid #ddd;
    }

    .navigation a {
        border: none;
    }
    .navigation ul {
        display: flex;
        gap: 20px;
        list-style: none;
        
    }
}
